@{
    ViewData["Title"] = "Auto Wrap";
}
<p>@ViewData["Title"]</p>

<ejs-grid id="Grid" dataSource="@ViewBag.DataSource" gridLines="Default" height="315" allowTextWrap="true">
    <e-grid-textwrapsettings wrapMode="Content"></e-grid-textwrapsettings>
    <e-grid-columns>
        <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="CustomerID" headerText="Customer ID" width="100"></e-grid-column>
        <e-grid-column field="Freight" headerText="Freight" width="130"></e-grid-column>
        <e-grid-column field="Ship City" headerText="Ship City" width="130"></e-grid-column>
        <e-grid-column field="Ship Country" headerText="Ship Country" width="150"></e-grid-column>
    </e-grid-columns>
</ejs-grid>